@model List<MvcIntroViews.ViewModels.LojaViewModel>
@{
    ViewData["Title"] = "Lojas";
}

@if(Model.Count == 0)
{
    <h3>Não há cadastro de nenhuma loja.</h3>

    <hr size="5">
} 

else
{
    <h1>Lojas</h1>

    <hr size="5">

    @foreach(var loja in Model)
    {
        <h3>@loja.Nome</h3> 

        <hr>
        
        <p>Id: @loja.Id</p>
        <p>Piso: @loja.Piso</p>
        <p>Descrição: @loja.Descricao</p>
        <p>Tipo: @loja.Tipo</p>
        <p>E-mail: @loja.Email</p>

        <hr size="5">
    }
}